<center>
  <h1><%= params[:title].capitalize %> Login</h1>

  <%= form_tag "/login/#{params[:title]}" do %>
    <table>
      <tr>
        <td>Email:</td>
        <td><%= text_field_tag :email %></td>
      </tr>
      <tr>
        <td>Password:</td>
        <td> <%= password_field_tag :password %></td>
      </tr>
    </table>
    <tr>
        <td><%= submit_tag "Login", :class => :login_button %></td>
        <td>
          <button type="button" onClick="window.location.href='/<%= params[:title] %>s/new'" id="create_user_button">Create new <%= params[:title] %>

        </td>
      </tr>

    </table>
  <% end %>
</center>


