<h1>Create a new Student</h1>

<%= form_tag '/login/student' do %>
  Name: <%= text_field_tag :name %><br>
  Email: <%= text_field_tag :email %><br>
  Password: <%= password_field_tag :password %><br>
  <%= submit_tag "Login" %>
<% end %>
