<%= form_for @instructors_quiz, :url => instructors_quizzes_path do |f| %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
    <%= f.label :cohort_id %>
    <%= f.text_field :cohort_id %>
  </p>
  <%= f.fields_for :questions do |builder| %>
    <%= render "question_fields", :f => builder %>
  <% end %>
  <p><%= f.submit "Submit" %></p>
<% end %>
